/*Common CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    cursor: pointer;
    color: crimson;
  }
  li {
    list-style: none;
  }
  button {
    cursor: pointer;
  }
  
  button {
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: rgb(55, 84, 138);
    color: #fff;
    font-size: 22px;
    border: 3px solid transparent;
  }
  button:hover {
    background-color: transparent;
    border: 3px solid rgb(236, 114, 157);
  }
  .error {
    color: red;
  }
  /*header*/
  
  header {
    height: 80px;
    background-color: rgb(53, 53, 173);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    font-size: 22px;
    margin-left: 20px;
  }
  .main-container {
    min-height: calc(100vh - 80px);
    background-color: rgb(134, 192, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 50px;
  }
  
  /*Book Appointment*/
  .book {
    flex-direction: column;
  }
  .book form {
    display: flex;
    flex-direction: column;
    width: 25vw;
  }
  .book input,
  .book select {
    border: none;
    padding: 5px;
    font-size: 18px;
    background-color: aliceblue;
  }
  
  .book label,
  .book h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 300;
  }
  
  /*Footer*/
  footer {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*Buy Medicines*/
  .medicines input {
    width: 55px;
  }
  .medicines table td {
    padding: 5px 20px;
    border: 2px solid black;
  }
  .medicines table tr:nth-child(even) {
    background-color: bisque;
  }
  .medicines table td img {
    height: 50px;
  }
  
  /*Find Hospital*/
  .findhospital {
    justify-content: flex-start;
  }
  .findhospital select,
  .findhospital input[type="text"] {
    width: 100%;
    margin-bottom: 50px;
  }
  .findhospital table {
    width: 450px;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 22px;
  }
  .findhospital td,
  .findhospital th {
    text-align: center;
    padding: 2px 20px;
    min-width: 250px;
    font-size: 20px;
    white-space: wrap;
  }
  .findhospital td:last-child {
    white-space: normal;
  }
  .findhospital tr:nth-child(even) {
    background-color: rgb(119, 119, 119);
  }
  .findhospital td,
  .findhospital th,
  .findhospital table {
    border: 2px solid black;
  }
  .findhospital .search-selector {
    display: flex;
    margin: 10px 0;
    gap: 20px;
  }
  
  /*doctors list*/